header {
  height: 100%;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2.5rem;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 5rem;
  bottom: 1rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.scroll__down {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  animation: scrollAnimation 1.5s infinite;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  opacity: 0;
  margin: 0 0.1rem;
}

.start-animation {
  animation: fadeInOut 1.5s forwards infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.dropdown {
  position: absolute;
  top: 5rem;
  right: 5rem;
}

.dropdown-button {
  background: transparent;
  color: var(--color-light);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 2rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: block;
}
.dropdown-menu a {
  display: block;
  padding: 0.5rem 0;
  color: var(--color-light);
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown-menu a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.arrow {
  display: inline-block;
  animation: bounce 1.5s infinite;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
